h1 {
    background-color: green;
    color: black;
    border: 2px solid black;
}

@media (width:400px) {
    h1 {
        background-color: yellow;
    }
}
@media (min-width:700px) {
    h1 {
        background-color: yellowgreen;
    }
}
@media (max-width:350px) {
    h1 {
        background-color: gray;
    }
}
@media (min-width:450px) and (max-width:650px) {
    h1 {
        background-color: lightblue;
    }
}
@media (orientation:landscape) {
    h1 {
        background-color: black;
        color: white;
        text-align: center;
    }
}