h1 {
    text-align: center;
    font-weight: 100;
    text-decoration: red wavy underline;
    font-family: fantasy;
}
h2 {
    text-decoration: blue dashed line-through;
    letter-spacing: 5px;
}
p {
    text-align: justify;
    font-weight: 600;
    line-height: 2.5;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    text-decoration: none;
    letter-spacing: 5px;
}