#circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: yellow;
    border: 2px solid black;
}
#smile {
    height: 30px;
    width: 100px;
    background-color: rgb(85, 9, 9);
    border-radius: 0 0 70px 70px;
    position: absolute;
    top: 125px;
    left: 50px;
}
#eye1 {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 50px;
}
#eye2 {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 125px;
}